# build artifacts only
vmlinux
vmlinux-*
*.o
*.o.d
*.ko
*.mod
*.mod.c
*.cmd
*.symtypes
.config
.config.old
Module.symvers
modules.order
modules.builtin*
scripts/.tmp_*
include/config/
include/generated/
arch/arm64/include/generated/
arch/arm64/kernel/vdso/vdso.so
arch/arm64/kernel/vdso/vdso.so.dbg
arch/arm64/kernel/vdso/vdso.lds
arch/arm64/kernel/asm-offsets.s
kernel/bounds.s
kernel/sched/rq-offsets.s
scripts/kconfig/lexer.lex.c
scripts/kconfig/parser.tab.c
scripts/kconfig/parser.tab.h
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
scripts/mod/devicetable-offsets.s
.checked-atomic-*.h
.tmp_*
.*.d
*.dtb
*.dtbo
.*.d.dtc.tmp
.*.d.pre.tmp
.*.dts.tmp
dtbs-list
